@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #ffce00;
    /* --primary-color: #ff4500; */
    --secondary-color: #f5f5f5;
    --bg-color: #131416;
    --card-bg: #191919;
    --header-height: 100px;
    --card-width: 30%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

*:before,
*:after {
    box-sizing: border-box;
}
  
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background-color: var(--bg-color);
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--primary-color), var(--primary-color));
    border-radius: 20px;
}

.hideme {
    opacity: 0;
    transition: 0.4s;
}

.hideme.show {
    opacity: 1;
}

a.scroll-to-top {
    position: fixed;
    top: 90%;
    right: 5%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

a.scroll-to-top i {
    z-index: 100;
}

/* landing background */
.landing-bg {
    width: 100%;
    height: 100vh;
    background: url("images/bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* main title */
span.main-title {
    color: #9f8d8d;
    font-size: 3em;
    text-transform: capitalize;
    background-image: linear-gradient(var(--primary-color), var(--primary-color));
    background-size: 100% 10px;
    background-repeat: no-repeat;
    background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out, color .5s;
}

span.main-title:hover {
    color: #000;
    /* color: var(--secondary-color); */
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out, color .5s;
}

section.store {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 100px;
}

/* Header */
section.store header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

section.store header.active {
    background: #000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

section.store header a.logo {
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

section.store header ul.navigation {
    position: relative;
    display: flex;
}

section.store header ul.navigation li {
    list-style: none;
}

section.store header ul.navigation li a {
    color: #fff;
    display: inline-block;
    margin-right: 40px;
    text-decoration: none;
    text-transform: capitalize;
    overflow: hidden;
    position: relative;
}

section.store header ul.navigation li a::before,
section.store header ul.navigation li a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

section.store header ul.navigation li a::before {
    background-color: var(--primary-color);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
section.store header ul.navigation li a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: var(--primary-color);
}
  
section.store header ul.navigation li a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}
section.store header ul.navigation li a:hover::after {
    transform: translate3d(0, 0, 0);
}
  
section.store header ul.navigation li a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}
  
section.store header ul.navigation li a:hover span {
    transform: translate3d(-200%, 0, 0);
}

section.store header ul.navigation li a:hover {
    color: var(--primary-color);
}

section.store header ul.navigation button {
    display: flex;
    margin: auto 1px;
    background: #9c9c9c47;
}

section.store header ul.navigation button:hover {
    background: #9c9c9c;
}

/* Content */
.container .row {
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 50px;
}

section.store .container .card {
    position: relative;
    background: var(--card-bg);
    border-radius: 20px;
    overflow: hidden;
    flex: 0 0 var(--card-width);
    max-width: var(--card-width);
    transition: 0.4s;
}

section.store .container .card.hideme.show {
    opacity: 1;
}


section.store .container .card.right {
    left: 100px;
}

section.store .container .card.right.hideme.show {
    left: 0;
}

section.store .container .card.left {
    right: 100px;
}

section.store .container .card.left.hideme.show {
    right: 0;
}

section.store .container .card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    transform: skewY(345deg);
    transition: 0.5s;
}

section.store .container .card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

section.store .container .card::after {
    content: "XFIT";
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 6em;
    transition: 0.5s;
}

section.store .container .card:hover::after {
    bottom: 50px;
    left: -45px;
    transform: rotateZ(-90deg);
    color: rgba(0, 0, 0, 0.3);
}

section.store .container .card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

section.store .container .card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

section.store .container .card .contentBox h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section.store .container .card .contentBox .price {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

section.store .container .card .contentBox .buy {
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
    top: 100px;
    opacity: 0;
    transition: 0.5s;
}

/* Bottom effect */
section.store .container .card .contentBox .buy::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 30px;
    height: 10px;
    transform: translateX(-50%);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
    background: #ff1f71;
    box-shadow: 0 0 5px #2bd2ff,
        0 0 15px #1eff45,
        0 0 30px #2bd2ff,
        0 0 60px #ff1f71;
}

section.store .container .card .contentBox .buy:hover::before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

/* TOP effect */
section.store .container .card .contentBox .buy::after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 30px;
    height: 10px;
    transform: translateX(-50%);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
    background: #ff1f71;
    box-shadow: 0 0 5px #2bd2ff,
        0 0 15px #ff1f71,
        0 0 30px #2bd2ff,
        0 0 60px #ff1f71;
}

section.store .container .card .contentBox .buy:hover::after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: 0.5s;
}

section.store .container .card .contentBox .buy a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff0d;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    color: #fff;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(15px);
}

section.store .container .card .contentBox .buy:hover a {
    letter-spacing: 3px;
}

section.store .container .card .contentBox .buy a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
}

section.store .container .card .contentBox .buy:hover a::before {
    transform: skewX(45deg) translateX(200%);
}

/* show button on hover */
section.store .container .card:hover .contentBox .buy {
    top: 0;
    opacity: 1;
}

section.store .container .imgBox img.prodImage {
    height: 300px;
    width: auto;
}

section.store .container .video-container {
    display: flex;
    border-radius: 20px;
    background: var(--card-bg);
}

/* Store responsive */

@media (max-width: 991px) {
    .landing-bg {
        background: url("images/bg2.jpg") no-repeat;
    }

    span.main-title {
        font-size: 1em;
    }

    section.store {
        padding: 40px;
        background: url("images/bg2.jpg");
        background-size: cover;
        background-position: center;
    }

    /* Header */
    section.store header {
        padding: 15px 40px;
    }

    section.store header ul.navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    section.store header ul.navigation.active {
        display: flex;
    }

    section.store header ul.navigation li a {
        font-size: 24px;
        margin: 10px 0;
    }

    section.store header .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url("images/menu.png");
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        color: #fff;
        z-index: 1;
    }

    section.store header .toggleMenu.active {
        background: url("images/close.png");
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
    }    
}

/* /End store responsive */

/* Footer */

.footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.footer ul.social {
    position: absolute;
    bottom: 30px;
    display: flex;
}

.footer .social li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 80px;
}

.footer .social li a {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    filter: invert(1);
    transform: scale(0.5);
    opacity: 0.5;
}

.footer .social li a:hover {
    transform: scale(0.7) translateY(-10px);
    opacity: 1;
}

.footer .copyright {
    color: #bbb;
}

/* /End Footer */